/logs
/node_modules
/src/assets/img
/storage/images/*
/storage/resized-images/*
!/storage/images/.empty
!/storage/resized-images/.empty
/src/assets/resized-images
*.txt
launch.json
test.js
.vscode
.idea/
